<div class="ui segment">
    <div class="ui secondary menu">
        <div class="right menu">
            <button onclick="updateButton(this, '0xLD')" class="ui red button"> <i
                    class="icon sync"></i>LizRat Modified by Liz0rd </button>
        </div>
    </div>
</div>
